.landingContainer{
    background-color: #758284;
    height: 100%;
    width: 100%;
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 71px;
    word-spacing: 1px;
    line-height: 90px;
    text-transform: none;
    letter-spacing: -3px;
    color:rgb(219, 211, 211);
    text-align: center;
    padding-top: 30px;
    margin: 0;
}    
h4{
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 80px;
    color: #f2f2f2;
    margin: 0;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    color: #BAAC7D;

}
.titleImg{
    height: 190px;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:700px){
    .titleImg{
        height: 122px;
    }
}
img{
    margin-top:20px;
    height: 300px;
    border-radius: 50px;
    margin-right: auto;
    padding: 27px;
}
@media(max-width:700px){
    img{
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.travelContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:700px){
  .travelContainer{
      display: block;
    
  }  
}
h5{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #BAAC7D;

    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}

.blogDetails{
   padding-top: 5%;
   width:40%;
}
h6{
    color: rgb(73, 73, 73);
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    margin-top: 0;
    padding-left: 80px;
}
.longDetails{
    width: 55%;
    padding-top: 4%;
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #ffff;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(73, 73, 73);
    font-size: 35px;
    margin: 0;
}
.detailContainer{
    display: flex;
}
@media(max-width:700px) {
    .detailContainer{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
.exploreImg{
  padding-top:30px;
  width:330px;
  margin:0;  
  border-radius:60px;
  display:block;
  margin-left:auto;
  margin-right:auto
}

@media(max-width:700px){
    .exploreImg{
        width: auto;
    }
}
}